.btn {
	padding: 0.625rem 1rem;
	border-radius: $button_form_radius;
	font-size: $fontsize_small;
}

.btn-submit {
	background-color: $navy;
	border-color: $navy;
	border-bottom: 0.3rem solid #001E46;
	color: $basic_color;
}

.btn-submit:hover {
	background-color: $light_blue;
	border-color: $light_blue;
	border-bottom: 0.3rem solid #0052C2;
	color: $basic_color;
}

@media (min-width: 600px) {
	.submit-button-wrapper {
		text-align: right;
	}
}