label {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
}

select {
	height: 2.8rem;
}

input[type=checkbox], 
input[type=email],
input[type=text], 
select, 
textarea {
	border: 0.06rem solid #484c55;
	border-bottom: 0.3rem solid #2b2d33;
	padding: 0.6rem;
	background: #484c55;
	border-radius: 0.25rem;
	outline: none;
	font-size: 1.1rem;
	font-weight: 200;
	color: $basic_color;
}

input[type=email],
input[type=text], 
textarea {
	width: 100%;
}

.form-wrapper {
	max-width: 50rem;
	margin: 0 auto;
	padding: 3.1rem 0.9rem;
	background: #6b717f;
}

.fieldset {
	margin-bottom: 3.3em;
}

textarea {
	max-width: 100%;
	resize: none;
}

@media (min-width: 600px) {
	label {
		text-align: right;
		margin-bottom: 0.3rem;
	}

	.fieldset {
		display: flex;
		align-items: center;
	}

	.nowrap-field {
		flex-wrap: nowrap;
	}
}