select {
	height: 2.8rem;
}

input[type=checkbox], 
input[type=email],
input[type=text], 
select, 
textarea {
	border: 0.06rem solid #484c55;
	border-bottom: 0.3rem solid #2b2d33;
	padding: 0.6rem;
	background: $dark_gray_background;
	border-radius: $button_form_radius;
	outline: none;
	font-size: $fontsize_small;
	font-weight: 200;
	color: $basic_color;
}

input[type=email],
input[type=text], 
textarea {
	width: 100%;
}

.form-wrapper {
	max-width: 50rem;
	margin: 0 auto;
	padding: 3.1rem 0.9rem;
	background: $light_gray_background;
}

.fieldset {
	margin-bottom: 3.3em;
}

textarea {
	max-width: 100%;
	resize: none;
}

@media (min-width: 600px) {
	label {
		text-align: right;
		margin-bottom: 0.3rem;
	}

	.fieldset {
		display: flex;
		align-items: center;
	}

	.nowrap-field {
		flex-wrap: nowrap;
	}
}