$basic_color: #fff;
$dark_gray_background: #484c55;
$light_gray_background: #6b717f;
$button_form_radius: 0.2rem;
$navy: #036;
$light_blue: #5184B8;
$fontsize_small: 1.1rem;
$fontsize_middle: 1.25rem;